* {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

header > h1 {
  font-size: 32px;
}

div {
  margin-top: 10px;
}

div > h2 {
  font-size: 24px;
  margin-top: 10px;
}

div > ul > li {
  margin-top: 10px;
}

.room-container > .message-form {
  margin-top: 10px;
}
