doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title Todo

  body
    header 
      h1 Todo

    main
      form
        input(placeholder='Please enter what to do')
        button Submit
        
      ul
        each todo in todos
          li
            span #{todo.text}
            button Delete

    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js") 
    script(src="/script/index.js") 